<div class="container">
  <div class="row justify-content-center" id="start-page-content">
    <div class="col-offset-sm-5 align-self-center text-center">
      <div id="app-title"> ESP Trainer App </div>
      <button (click)="startGame()" class="btn btn-primary btn-lg btn-block">Start</button>
    </div>
  </div>
</div>
