<div class="container">
  <div class="row justify-content-center" id="guess-num-content">
    <div *ngIf="numberToGuess" class="col-offset-sm-5 align-self-center text-center">

      <!-- Display number box -->
      <div>
        <p id="guess-heading">Guess the number </p>
        <p id="actual-num">{{ numberToShow }}</p>
      </div>

      <!-- Option buttons box -->
      <div class="btn-group guess-num-btn-group">
        <button *ngFor="let option of numberToGuess.allValues" (click)="showNum($event)" class="btn btn-outline-warning">
          {{ option }}
        </button>
      </div>

      <!--  Home button-->
      <div>
        <button class="btn btn-primary" routerLink="/">
          Home
        </button>
        <button #nextButton class="btn btn-secondary" (click)="goToNext()">
          Next
        </button>
      </div>

    </div>
  </div>
</div>
